<div class="field">
  <div class="check">
    <p>
      Ваш счет:
      <span style="font-weight: 700;">
        {{receivedData.checkPlayer}}
      </span>
    </p>

    <p>
      Счет ИИ:
      <span style="font-weight: 700;">
        {{receivedData.checkBot}}
      </span>
    </p>
  </div>
  <app-winner></app-winner>
  <app-player-selection class="app-player-selection"></app-player-selection>
  <app-select-option class="select-option"></app-select-option>
  <app-reset class="reset"></app-reset>
</div>